// Variables
@import '../utils/variables';
@import '../utils/mixins';
// global
.icon__contacts {
    margin-right: 10px;
}
// footer
.button {
    &__footer {
        width: 200px;
        height: 50px;
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 39px;
        border: none;
        border-radius: 4px;
        background: $secondary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &--active:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        &--active:hover,
        &--active:focus,
        &--active:active,
        &--active:target {
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
    &__icon {
        display: inline-flex;
        fill: $tertiary-color;
        &--end {
            margin-left: 20px;
        }
    }
    &__subscription__label {
        font-size: 16px;
        font-weight: 700;
        font-size: 1.87;
        letter-spacing: 0.06em;
        color: $tertiary-color;
    }
}
.list {
    &__footer:first-child {
        margin-bottom: 2px;
    }
}
.footer__reference__data {
    display: flex;
    flex-wrap: wrap;

    padding-top: 60px;
    padding-bottom: 60px;
    background: $background-color-secondary;
    &-websites {
        display: flex;
        flex-wrap: wrap;
    }
}
.container {
    // &__footer__address {
    //     margin-right: 70px;
    // }
    &__subscription {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}
.address {
    &__location {
        margin-bottom: 2px;
        // display: block;

        color: $tertiary-color;
    }
    &__mail,
    &__phone {
        color: $primary-color-rgba;
    }
    &__mail,
    &__location,
    &__phone {
        line-height: 1.71;
        font-style: normal;
        text-decoration: none;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__location:hover,
    &__location:focus,
    &__location:active,
    &__mail:hover,
    &__mail:focus,
    &__mail:active,
    &__phone:hover,
    &__phone:focus,
    &__phone:active {
        color: $secondary-color;
        outline: none;
        fill: $secondary-color;
    }
}
.icons__subscription {
    fill: $tertiary-color;
    &--size:focus,
    &--size:active,
    &--size:focus,
    &--size:target {
        fill: $tertiary-color;
        display: flex;
        text-decoration: none;
    }
}
.input__footer {
    outline: none;
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-left: 16px;
    background: none;
    color: $tertiary-color;
    font-size: 16px;
    line-height: 1.25;
    @include border__primary(rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition-property: border-color, border-radius, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 1.25;
    }
    &:focus,
    &:hover {
        @include border__primary($secondary-color);
    }
}
.websites {
    &__footer {
        margin-top: 5px;
    }
    &__list {
        flex-wrap: wrap;
        gap: 10px;
    }
    &__titles {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: $tertiary-color;
        margin-bottom: 20px;
    }
}
.list__icons__websites {
    flex-basis: calc((100% - 30px) / 4);
    fill: $tertiary-color;
    transition-property: background-color, color, fill, background, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &--size {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--size:focus,
    &--size:active,
    &--size:target {
        fill: $tertiary-color;
        padding: 12px;
        border-radius: 100%;
        display: flex;
        background-color: $secondary-color;
        outline: none;
        text-decoration: none;
    }
    &:hover {
        background-color: $secondary-color;
        fill: $tertiary-color;
        border-radius: 50%;
        background-color: $secondary-color;
        text-decoration: none;
    }
}
.icons__social-networks--size:focus,
.icons__social-networks--size:active,
.icons__social-networks--size:target {
    fill: $tertiary-color;
    padding: 12px;
    border-radius: 100%;
    display: flex;
    background-color: $secondary-color;
    outline: none;
    text-decoration: none;
}
.footer-subscription {
    margin-top: 5px;
    margin-left: 93px;
    width: 570px;
    height: 86px;
}
.subscription__titles {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $tertiary-color;
    margin-bottom: 20px;
}
.div__input__footer:focus-within .div__input__footer-icon .icon,
.div__input__footer:hover .div__input__footer-icon .icon {
    fill: $secondary-color;
}

.address__location {
    @include tablet {
        padding-top: 19px;

        text-align: center;
    }
    @include mobile {
        padding-top: 19px;
        text-align: center;
    }
}
.list__footer {
    @include tablet {
        margin-top: 12px;
        text-align: center;
    }
    @include mobile {
        margin-top: 12px;
        text-align: center;
    }
}
.logo__link__footer {
    @include tablet {
        justify-content: center;
    }
    @include mobile {
        justify-content: center;
    }
}
.logo__link__footer {
    @include tablet {
        justify-content: center;
    }
    @include mobile {
        justify-content: center;
    }
}
.footer__reference__data {
    @include tablet {
        height: 464px;
    }
}


.footer__reference__data-websites {
    @include tablet {
        justify-content: space-around;
        align-items: flex-start;

        text-align: center;
    }
    @include mobile {
        align-content: center;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.container__footer__address {
    @include tablet {
        margin-right: 0;
    }
    @include desktop {
        margin-right: 70px;
    }
    @include mobile {
        margin-right: 0;
    }
}
.websites__footer {
    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.footer-subscription {
    @include tablet {
        margin-left: 0;
    }

    @include mobile {
        margin-bottom: 20px;
        margin-left: 0;
    }
}
.container__subscription {
    @include tablet {
        flex-direction: column;
        margin-bottom: 20px;
    }

    @include mobile {
        flex-direction: column;
        margin-bottom: 20px;
    }
}
