// colors, text, fill, border
$primary-color: #212121;
$secondary-color: #2196f3;
$tertiary-color: #fff; // text,
$quaternary-color: #afb1b8; //iconos
$quinary-color: #757575; //form
$senary-color: #eee;
$septenary-color: #afb1bb;
$primary-color-rgba: rgba(255, 255, 255, 0.6);
//Backgroup
$background-color-primary: #fff; // body
$background-color-secondary: #2f303a; //footer
$background-color-tertiary: rgba(33, 150, 243, 0.9); //card
$background-color-quaternary: #f5f4fa; //body
//Text
$text-releway: 'Raleway';
//others
$button-color-primary: #188ce8; // button form
$color-header: #ececec;
